/*************************************************************
Homework Assignment: 11-Web - Latitude

@Author: Jeffery Brown (daddyjab)
@Date: 2/12/19
@Page: style-jb.css

**************************************************************/

/*************************************************/
/* Page Heading */
.page_heading {
  background-color:white;
  margin:0px 0px 0px 0px;
}

/*************************************************/
/* Navigation Bar */
.navbar {
  display:block;
  margin: 0px auto;
}

/* Navigation Bar Command List items */
.navbar li {
  /* Cause list items to display horizontally (vs veritically) */
  display:inline-block;
  font-size:15px;
  text-align:center;
  vertical-align:middle;
  color: grey;
  font-weight:600;
  height:20px;
  padding:2px;
  margin:25px 2px 2px 2px;
}

/* Navigation Bar => Hyperlinks */
.navbar li a {
  /* Turn off default underline and color on hyperlinks */
  text-decoration:none;
  /* Set color to match other menu items */
  color: grey;
}

/* Navigation Bar => Plot drop-down select */
.navbar li select {
  /* Align the default text in the drop-down "Plot" to the right */
  text-align-last: right;
  /* Turn off default border around drop-down list */
  border:0px;
}

/* Navigation Bar => Plot drop-down select options */
.navbar li select option {
  color:black;
}

/* Header for the page */
.header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  color:white;

  background-color: #4AAAA5;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
  margin: 0px;
}

.page_heading div a {
  /* Turn off default underline and color on hyperlinks */
  text-decoration:none;  
}

/*************************************************/
/* Main content section */
.overall_content {
  display:block;
  background-color:lightgrey;
  padding: 20px;
  margin: 0 auto;
}

/*************************************************/
/* Featured content section */
.featured_content {
  display:block;
  background-color:white;
  padding: 20px;
  margin: 0 auto;
}

.featured_content h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  color:#4AAAA5;
  font-weight: 800;
  padding: 20px;
  margin: 0px;
}

.featured_content p {
  padding: 20px;
  margin: 0px;
}

.featured_content .plot_summary img {
  display:block;
  float:left;
  width:350px;
  padding: 20px;
  margin: 0px auto;
}

.featured_content .plot_focus img {
  display:block;
  width:600px;
  padding: 20px;
  margin:0px auto;
}


/*************************************************/
/* Selection content section */
.selection_content {
  display:block;
  background-color:white;
  padding: 20px;
  margin: 0 auto;
}

.selection_content h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:24px;
  color:#4AAAA5;
  font-weight: 800;
  padding: 20px;
  margin: 0px;
}

.selection_content img {
  display:block;
  width:180px;
  margin: auto

}

.selection_content .selected_plot img {
  border:4px solid #4AAAA5;
}


.selection_content .selection_plot_left img {
  /* margin:20px 0px 0px 20px; */
  margin: auto;
}

.selection_content .selection_plot_right img {
  /* margin:20px 20px 0px 0px; */
  margin: auto;

}


/*************************************************/
/* Comparison content section */
.comparison_content {
  display:block;
  background-color:white;
  padding: 20px;
  margin: 0 auto;
}

.comparison_content h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  color:#4AAAA5;
  font-weight: 800;
  padding: 20px;
  margin: 0px;
}

.comparison_content h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:24px;
  color:#4AAAA5;
  font-weight: 800;
  padding: 20px;
  margin: 0px;
  text-align:center;
}

.comparison_content p {
  padding: 20px;
  margin: 0px;
}

.comparison_content img {
  display:block;
  width:500px;
  margin: auto
}

.comparison_content .comparison_plot_left img {
  margin: auto;
}

.comparison_content .comparison_plot_right img {
  margin:auto;
}


/*************************************************/
/* Data content section */
.data_content {
  display:block;
  background-color:white;
  padding: 20px;
  margin: 0 auto;
}

.data_content h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  color:#4AAAA5;
  font-weight: 800;
  padding: 20px;
  margin: 0px;
}

.data_content p {
  padding: 20px;
  margin: 0px;
}

